body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0a2e38;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.array-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 300px;
  width: 80%;
  background-color: #0f3d4b;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.array-bar {
  background-color: #2be7e8;
  margin: 0 2px;
  transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
  width: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}

button:hover {
  background-color: #0056b3;
}
